body {
  background-color: #5ee0d6;
}
/* Styling for every card class */
#manager-card .roleHeader {
  background-color: blue;
  color: white;
  text-align: center;
}

#engineer-card .roleHeader {
  background-color: silver;
  color: black;
  text-align: center;
}

#intern-card .roleHeader {
  background-color: purple;
  color: white;
  text-align: center;
}
/* Styling for the top banner of the page */
#top-banner {
  background-color: navy;
  color: white;
  text-align: center;
}
/* background color for card holder */
#card-holder {
  background-color: #74f7c7;
}
/* background color for footer element */
footer {
  text-align: center;
  background-color: #74f7c7;
}
